div{
    width: 800px;
    background-image: url(https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/474079MmX/background-bong-hoa-anh-dao-cuc-dep_032749894.jpg);
    background-size: 100px 100px;
    color: rgb(40, 165, 165);
    box-shadow: 5px 5px 10px black;
}
h2{
    text-align: center  ;
}
.p-1{
    font-style: italic;
    color: white;
    background-color: rgb(40, 165, 165);
    font-weight: bold;
}